@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
    --background: #000000;
    --card-background: #1E1E1E;
    --nav-background: #1A1A1A;
    --text-primary: #FFFFFF;
    --text-secondary: #A0A0A0;
    --accent: #2563EB;
    --border: #2D2D2D;
  }
  
  body {
    background-color: var(--background);
    color: var(--text-primary);
  }
